@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'primeicons/primeicons.css';

@import 'tailwindcss';
@import './base.css';

#app {
  min-height: 100svh;
}
.p-toast {
  max-width: calc(100% - 3rem);
}
.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
.p-dialog-close-button:focus-visible,
.p-dialog-close-button:focus,
.p-dialog-close-button:active,
.p-dialog-close-button:focus-within,
.p-toast-close-button:focus-visible,
.p-toast-close-button:focus,
.p-toast-close-button:active,
.p-toast-close-button:focus-within {
  outline: none !important;
  outline-color: transparent !important;
}

.p-dialog.p-component {
  margin: 0px 15px !important;
}

.p-multiselect-display-chip .p-multiselect-label {
  flex-wrap: wrap;
}
.p-datatable-filter-overlay-popover {
  margin: 0px 15px;
}
.p-tag {
  background: transparent !important;
  background-color: transparent !important;
  color: var(--p-tabs-tab-hover-color) !important;
}
.p-tab-active {
  color: var(--p-primary-600) !important;
}
.p-select-label {
  white-space: break-spaces !important;
}
.p-tabview,
.p-tabview-nav {
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.p-tabview-nav,
.p-tabmenu-nav {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  position: relative;
  z-index: 1;
}

a,
button,
[role='tab'],
.p-tabview-nav-link {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.p-tablist-viewport {
  display: block !important;
}
