@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'primeicons/primeicons.css';

@import 'tailwindcss';
@import './base.css';

#app {
  min-height: 100svh;
}
.p-toast {
  max-width: calc(100% - 3rem);
}
.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
.p-dialog-close-button:focus-visible,
.p-dialog-close-button:focus,
.p-dialog-close-button:active,
.p-dialog-close-button:focus-within,
.p-toast-close-button:focus-visible,
.p-toast-close-button:focus,
.p-toast-close-button:active,
.p-toast-close-button:focus-within {
  outline: none !important;
  outline-color: transparent !important;
}

.p-dialog.p-component {
  margin: 0px 15px !important;
}

.p-multiselect-display-chip .p-multiselect-label {
  flex-wrap: wrap;
}
.p-datatable-filter-overlay-popover {
  margin: 0px 15px;
}
.p-select-label {
  white-space: break-spaces !important;
}
.p-toast-message .p-toast-message-icon {
  margin-top: 6px;
}
